.card {
  width: 200px;
  height: 52vh;
  padding: 10px;
  overflow: scroll;
  
  .cardBody {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border-left: 1px solid lightblue;
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightseagreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
